.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;

  .title {
    font-size: 2em;
    margin-bottom: 20px;
  }

  .level-selection {
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h4 {
      text-align: left;
      width: 100%;
      max-width: 500px;
    }
  }
}