.card {
  background-color: transparent;
  perspective: 1000px;

  .card-container {
    align-items: center;
    background-color: #DDD;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    display: flex;
    height: 100%;
    height: 140px;
    justify-content: center;
    position: relative;
    text-align: center;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    width: 100px;

    .card-back, .card-front {
      -webkit-backface-visibility: hidden;
      align-items: center;
      backface-visibility: hidden;
      border-radius: 6px;
      display: flex;
      height: 100%;
      justify-content: center;
      position: absolute;
      width: 100%;
    }

    .card-back {
      background-color: #bbb;
      color: black;

      img {
        width: 100px;
      }
    }
    
    .card-front {
      background-color: #F2F2F2;
      transform: rotateY(-180deg);

      img {
        width: 80px;
      }
    }

    &.card-flippler {
      transform: rotateY(-180deg);
    }

    &.card-matched {
      .card-front {
        opacity: 0.6;
      }
    }
  }
}
