#root {
  margin: 0 auto;
  max-width: 1280px;
  padding: 2rem;
  text-align: center;
}

.Memo {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  justify-content: center;
  width: 500px;
}